<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.kireev.mir.registrarlizaalert">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="ru.kireev.mir.registrarlizaalert.SplashActivity"
            android:theme="@style/SplashTheme">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name="ru.kireev.mir.registrarlizaalert.AddNewFoxActivity"
            android:windowSoftInputMode="stateVisible|adjustPan"
            android:screenOrientation="portrait"/>
        <activity android:name="ru.kireev.mir.registrarlizaalert.FoxesMainActivity"
            android:label="@string/actionbar_label_foxes"
            android:screenOrientation="portrait"/>
        <activity
            android:name="ru.kireev.mir.registrarlizaalert.TabbedMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="ru.kireev.mir.registrarlizaalert.BarCodeScannerActivity"
            android:label="@string/actionbar_label_scan_QR"
            android:screenOrientation="portrait" />
        <activity
            android:name="ru.kireev.mir.registrarlizaalert.AddManuallyActivity"
            android:label="@string/actionbar_label_add_manually"
            android:screenOrientation="portrait" />
    </application>

</manifest>